<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>

<body>
<div class="main-content">
{{>header}}
    <img class="portrait" src="/images/myPic.jpeg">
</div>

{{>footer}}
</body>

</html>