<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>

<body>
<div class="main-content">
{{>header}}
   <div id="flexbox">
        <img class="portrait" src="/images/myPic.jpeg">
    <p>This website was created by {{name}}, student @BeCode Brussels. <br> <br>
        It uses <a href="https://weatherstack.com/">weatherstack</a>  and <a href="https://mapbox.com">mapbox</a> services.  </p>
   </div>
</div>

{{>footer}}
</body>

</html>